:root {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-family: 16px;
  --text-ligth: 200;
  --text-medium: 400;
  --text-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.body--ligth {
  --bg: #f0f0f0;
  --bg-secondary: white;
  --text: #222;

  --morph1: #89e6ec;
  --morph2: rgb(135, 237, 131);

  --buttonBorder: blue;
}

.body--dark {
  --bg: rgb(34, 34, 35);
  --bg-secondary: black;
  --text: #f0f0f0;

  --morph1: rgb(86, 7, 122);
  --morph2: rgb(197, 109, 15);

  --buttonBorder: red;
}

.body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  max-width: 100%;
}


/* text selection */

::selection {
  background-color: var(--text);
  color: var(--bg-secondary);
}

/* scroll */
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 20px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bg);
}