:root {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-size: 16px;
  --text-ligth: 200;
  --text-medium: 400;
  --text-bold: 600;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.body--ligth {
  --bg: rgb(244, 244, 227);
  --bg-secondary: white;
  --text: #222;

  --morph1: #89e6ec;
  --morph2: rgb(135, 237, 131);

  --buttonBorder: blue;
  --filter--iframe: invert(1);
}

.body--dark {
  --bg: rgb(34, 34, 35);
  --bg-secondary: black;
  --text: #f0f0f0;

  --morph1: rgb(86, 7, 122);
  --morph2: rgb(197, 109, 15);

  --buttonBorder: red;
  --filter--iframe: invert(-1);
}

.body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s linear(-0.46 -1%, 1.35 100%) 0s, color 0.5s linear(0.46 1%, -1.35 -100%) 0s;
  max-width: 100%;
  --white: #f0f0f0;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

/* barra de scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--buttonBorder);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bg);
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}

#progress {
  background-color: var(--buttonBorder);
  position: fixed;
  top: 6vh;
  left: 0;
  z-index: 10;
  border-top: 5px dashed var(--bg);
}